body {
    background-color: #fef4d1;
    margin: 0px;
    min-height: 100vh;

    display: grid;
    grid-template-areas:
    "header header"
    "options competitions"
    "footer footer";
    grid-template-columns: 1fr 3fr;
    grid-template-rows: 15% 80% 5%;
}

header {
    grid-area: header;

    width: 100%;
    height: 100%;

    display: flex;
    align-items: center; 
}

header h1 {
    font-size: 2em;
    padding: 0;
    margin: 0;
    width: 100%;
    text-align: center;
}

.options {
    grid-area: options;
}

.competitions {
    grid-area: competitions;
}

footer {
    grid-area: footer;

    background-color: #ffffffa0;
    padding: 1px;
}

h1,
h2 {
    color: #fa9700;
}

select,
button {
    padding: 4px;
    margin: 2px;
}

.ungueltig {
    border: solid;
    border-color: gray;
    background-color: #fff38b;
    padding: 2px 6px;
    margin: 4px;
    border-radius: 2px;
    width: fit-content;
}

.runden {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    column-gap: 10px;
}

.runde {
    white-space: nowrap;
}

.eingabe {
    border: 1px solid black;
    border-radius: 3px;
    margin: 0;
    padding: 2px 10px 2px 6px;
    display: inline-block;
}

.footer-element {
    margin: 10px;
}
