:root {
    /* Some color theme bwinf.de also uses */
    --theme-clr: #FA9600;
    --theme-clr-light: #fee5bf;
    --theme-clr0: rgba(255,255,255,0.6);
    --theme-clr1: #fddaa6;
    --theme-clr2: #fdcb80;
    --theme-clr3: #fcc573;
}

body {
    background-color: var(--theme-clr-light);
    margin: 0px;
    min-height: 100vh;

    display: grid;
    grid-template-areas:
    "header header"
    "options competitions"
    "footer footer";
    grid-template-columns: 1fr 3fr;
    grid-template-rows: 5em auto 3em;

    /* Many differents system fonts in hope one of them is installed */
    /* I know it is kinde *bad* but i don't want to install a font from fonts.google.com or sth. */
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif;
}

/* Default elements */
p {
    color: var();
    font-size: 1em;
}

h1 {
    color: var(--theme-clr);
    font-size: 2em;
}
h2 {
    color: var(--theme-clr);
    font-size: 1.8em;
}

select,
button {
    padding: 6px 8px 6px 8px;
    margin: 2px;
    background-color: var(--theme-clr0);
    border: solid 2px var(--theme-clr2);

    border-radius: 0.25rem;

    cursor: pointer;

    transition: box-shadow 0.3s, color 0.2s, background-color 20.5s;
}

select:hover,
button:hover {
    color: white;
    box-shadow: inset 0 -10em var(--theme-clr);
}

button:active,
select:active {
    /*box-shadow: inset 0 0;*/
    background-color: var(--theme-clr0);
    padding: 7px 9px 7px 9px;
    margin: 1px;
}

/* Special parts */
header {
    grid-area: header;

    width: 100%;
    height: 100%;

    display: flex;
    align-items: center; 
}

header h1 {
    padding: 0;
    margin: 0;
    width: 100%;
    text-align: center;
}

.options {
    grid-area: options;
    padding: 16px;
}

.competitions {
    grid-area: competitions;
    padding: 16px;
}

footer {
    grid-area: footer;

    background-color: #;
    padding: 1px;
}

.ungueltig {
    border: solid;
    border-color: gray;
    background-color: ;
    padding: 2px 6px;
    margin: 4px;
    border-radius: 2px;
    width: fit-content;
}

.runden {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    column-gap: 10px;
}

.runde {
    white-space: nowrap;
}

.eingabe {
    border: 1px solid black;
    border-radius: 3px;
    margin: 0;
    padding: 2px 10px 2px 6px;
    display: inline-block;
}

.footer-element {
    margin: 10px;
}
